<%- include("partials/header"); -%>

<section class="container-fluid">
  <h1>Contact</h1>
  <h5><%= CONTACTCONTENT %></h5>
  <div class="container-contact">
    <figure>
      <a href="https://www.linkedin.com/in/sarthak-r-0721bb218/"><i class="fab fa-linkedin"></i></a>
      <figcaption>LinkedIn</figcaption>
    </figure>
    <figure>
      <a href="https://www.instagram.com/eik.crimes/"><i class="fab fa-instagram"></i></a>
      <figcaption>Instagram</figcaption>
    </figure>
    <figure>
      <a href="https://github.com/Sarthak-69"><i class="fab fa-github"></i></a>
      <figcaption>GitHub</figcaption>
    </figure>
    <figure>
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <figcaption>Twitter</figcaption>
    </figure>
  </div>
</section>


<%- include("partials/footer"); -%>